.ColorItemActions
  @include max()
    width: 1em
  @include min()
    height: 1em

  .__button
    @extend %resetButton
    height: 1em
    line-height: 1
    cursor: pointer
    &:disabled
      opacity: 0.3
