.Footer
  color: var(--colorBg)
  font-size: var(--textFooter)
  line-height: 1.2
  background-color: var(--colorText)

  .__inner
    box-sizing: border-box
    display: flex
    justify-content: space-between
    align-items: center
    margin: auto
    padding: 0.5rem
    max-width: 680px

  .__credit
    margin: 0
    a:link,
    a:visited,
    a:hover,
    a:focus,
    a:active
      color: var(--colorLink)

  .__license
    margin: 0
    a:link,
    a:visited,
    a:hover,
    a:focus,
    a:active
      color: var(--colorLink)
