.Main
  margin: 2rem auto
  padding-right: calc(var(--spaceGap) * 2)
  padding-left: calc(var(--spaceGap) * 2)
  max-width: calc(var(--spaceGap) * 4 + 600px)
  font-size: var(--textMain)

  .__intro
    margin-top: calc(var(--spaceGap) * 4)

  .__textarea
    margin-top: calc(var(--spaceGap) * 1)

  .__set
    margin-top: calc(var(--spaceGap) * 4)
