\:root
  font-size: 24px
  --colorText: #435a6c
  --colorBg: #fefcfc
  --colorBorder: #d4d7d7
  --spaceGap: 10px

html, body
  margin: 0
  padding: 0

body
  font-family: 'Noto Sans JP', sans-serif
  font-size: 24px
  color: var(--colorText)
  background-color: var(--colorBg)